* {
    color: #ffffff;
    box-sizing: border-box;
}

.about-wrap {
    //height: 300vh;
    background-color: #222338;
    //border: 1px solid red;
    padding: 50px 330px 30px 120px;

    &__f-block {
        //border: 1px solid red;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 80px;
    }

    &__title {
        //border: 1px solid red;
        font-size: 120px;
        font-weight: bold;
        font-family: "Roboto",sans-serif;
        text-transform: uppercase;
        letter-spacing: 5px;
        position: relative;

        .rellaxTest {
            position: absolute;
            top: -143px;
            left: -100px;
            content: "";
            width: 80px;
            height: 1220px;
            background-color: #C25656;
            border-radius: 5px;
            transform: translateX(-120%);
        }

        .rellaxTest2 {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            width: 80px;
            height: 650px;
            background-color: #C8C8C8;
            border-radius: 5px;
            transform: translateY(100%);
            // z-index: 100;
        }

        // &::after {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     content: "";
        //     width: 80px;
        //     height: 650px;
        //     background-color: #C8C8C8;
        //     border-radius: 5px;
        //     transform: translateY(37%);
        // }
    }

    &__c-news-feed {
        padding: 10px 25px 30px;
        background-color: #A24C50;
        border-radius: 5px;
        width: 490px;
        position: relative;

        &:after {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(120%);
            content: "";
            width:75px;
            background-color: #C8C8C8;
            height: 100%;
            border-radius: 5px;
        }
    }

    &__feed-title {
        font-size: 30px;
        font-weight: bold;
        font-family: "Roboto",sans-serif;
        text-transform: uppercase;
        color: #6A2D2D;

        &--mb_2 {
            margin-bottom: 10px;
        }
    }

    &__feed-item {
        padding: 25px;
        font-size: 20px;
        color: #572323;
        font-family: "Roboto",sans-serif;
        background-color: #974548;
        border-radius: 5px;

        &--mb_1 {
            margin-bottom: 5px;
        }

        &--mb_2 {
            margin-bottom: 10px;
        }
    }

    &__s-block {
        padding: 0 0 0 100px;
        margin-bottom: 60px;
    }

    &__experience-title {
        font-size: 60px;
        font-family: "Roboto",sans-serif;
        font-weight: bold;
        color: #C25656;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__experience-subtitle {
        font-size: 40px;
        font-family: "Roboto",sans-serif;
        font-weight: medium;
        margin-bottom: 20px;
    }

    &__c-companies {
        padding: 55px 45px;
        background-color: #1D1E2E;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 10px;
        position: relative;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            content: "";
            background-color: #C25656;
            width: 75px;
            height: 765px;
            border-radius: 5px;
            transform: translateX(120%) translateY(22%);
        }
    }

    &__company {
        background-color: #171724;
        flex-basis: 32%;
        height: 100px;
        border-radius: 10px;

        &--mb_1 {
            margin-bottom: 20px;
        }
    }

    &__t-block {
        padding: 0 0 0 100px;
        //border: 1px solid red;
    }

    &__team-title {
        font-size: 60px;
        font-family: "Roboto",sans-serif;
        font-weight: bold;
        color: #C25656;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__c-team {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__c-designers {
        flex-basis: 24%;
        padding: 20px 0;
        //border: 1px solid red;
        background-color: #1D1E2E;
        border-radius: 10px;
        position: relative;

        /*&::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "Designers";
            font-family: "Roboto",sans-serif;
            font-size: 40px;
            font-weight: medium;
            transform: rotate(-90deg) translateY(-135px) translateX(-340px);
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: "&";
            font-family: "Roboto",sans-serif;
            font-size: 40px;
            font-weight: medium;
            color: #C25656;
            transform: rotate(-90deg) translateY(-55px) translateX(-215px);
        }*/
    }

    &__designer {
        //border: 1px solid red;
        padding: 10px 20px;
        &--mb_3 {
            //margin-bottom: 15px;
        }
    }

    &__c-developers {
        flex-basis: 72%;
        padding: 20px 0;
        //border: 1px solid red;
        background-color: #1D1E2E;
        border-radius: 10px;
        /*position: relative;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "Developers";
            font-family: "Roboto",sans-serif;
            font-size: 40px;
            font-weight: medium;
            transform: rotate(-90deg) translateY(-415px) translateX(-80px);
        }*/
    }

    &__developer {
        flex-basis: 33.33%;
        //border: 1px solid red;
        padding: 10px 20px;

        &--mb_3 {
            //margin-bottom: 15px;
        }
    }

    &__developers-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__img {
        width: 100%;
        height: auto;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #fff;
        display: block;
    }

    &__designer-name {
        margin-top: 10px;
        font-size: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        text-align: center;
    }

    &__designer-position {
        font-size: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
    }

    &__developer-name {
        margin-top: 10px;
        font-size: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        text-align: center;
    }

    &__developer-position {
        font-size: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
    }

    &__c-managment {
        margin-top: 20px;
        flex-basis: 65%;
        //height: 100px;
        background-color: #1D1E2E;
        border-radius: 10px;
        padding: 40px 20px;
        //border: 1px solid red;
        /*position: relative;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "Managment";
            font-family: "Roboto",sans-serif;
            font-size: 40px;
            font-weight: medium;
            transform: rotate(-90deg) translateY(-145px) translateX(-90px);
        }*/
    }

    &__managment-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
    }

    &__info-row_2 {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(-90deg) translateX(-50px) translateY(-160px);
    }

    &__managment-text,
    &__designers-text,
    &__amp-text,
    &__developers-text {
        font-family: "Roboto",sans-serif;
        font-size: 40px;
        font-weight: medium;
    }

    &__amp-text {
        margin: 0 20px;
        color: #C25656;
    }

    &__info-row_1 {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(-90deg) translateX(-205px) translateY(-255px);
    }

    &__managment {
        flex-basis: 30%;
    }

    &__managment-name {
        margin-top: 10px;
        font-size: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        text-align: center;
    }

    &__managment-position {
        font-size: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
    }
}