* {
    color: #ffffff;
    box-sizing: border-box;
}

.about-wrap {
    background-color: #222338;
    padding: 50px 330px 30px 120px;

    &__f-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 80px;
    }

    &__title {
        font-size: 120px;
        font-family: "Roboto-Bold",sans-serif;
        line-height: 130px;
        text-transform: uppercase;
        letter-spacing: 5px;
        position: relative;

        .rellaxTest {
            position: absolute;
            top: -143px;
            left: -100px;
            content: "";
            width: 80px;
            height: 100vh;
            background-color: #C25656;
            border-radius: 10px;
            transform: translateX(-120%);
            opacity: 0.8;
            -webkit-box-shadow: 9px 14px 66px -3px rgba(0,0,0,0.75);
            -moz-box-shadow: 9px 14px 66px -3px rgba(0,0,0,0.75);
            box-shadow: 9px 14px 66px -3px rgba(0,0,0,0.75);
        }

        .rellaxTest2 {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            width: 80px;
            height: 60vh;
            background-color: #C8C8C8;
            border-radius: 10px;
            transform: translateY(100%);
            opacity: 0.8;
        }
    }

    &__c-news-feed {
        padding-top: 14px;
        padding-left: 25px;
        padding-right: 30px;
        padding-bottom: 26px;
        background-color: #A24C50;
        border-radius: 10px;
        width: 35%;
        position: relative;
        -moz-box-shadow: 9px 14px 66px -3px rgba(0,0,0,0.75);
        box-shadow: 9px 14px 66px -3px rgba(0,0,0,0.75);

        &:after {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(120%);
            content: "";
            width:75px;
            background-color: #C8C8C8;
            height: 100%;
            border-radius: 10px;
        }
    }

    &__feed-title {
        font-size: 30px;
        font-weight: bold;
        font-family: "Roboto-Bold",sans-serif;
        text-transform: uppercase;
        color: #6A2D2D;

        &--mb_2 {
            margin-bottom: 17px;
        }
    }

    &__feed-item {
        padding-top: 27px;
        padding-bottom: 27px;
        padding-left: 20px;
        padding-right: 26px;
        font-size: 20px;
        color: #572323;
        font-family: "Roboto-Light",sans-serif;
        background-color: #974548;
        border-radius: 10px;
        cursor: pointer;

        &--mb_2 {
            margin-bottom: 10px;
        }
    }

    &__s-block {
        padding: 0 0 0 100px;
        margin-bottom: 50px;
    }

    &__experience-title {
        font-size: 60px;
        font-family: "Roboto-Bold",sans-serif;
        color: #C25656;
        line-height: 79px;
        text-transform: uppercase;
    }

    &__experience-subtitle {
        font-size: 40px;
        font-family: "Roboto-Light",sans-serif;
        margin-bottom: 20px;
        line-height: 53px;
    }

    &__c-companies {
        padding-top: 56px;
        padding-bottom: 54px;
        padding-left: 44px;
        padding-right: 51px;
        background-color: #1D1E2E;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 10px;
        position: relative;
        width: 100%;

        .rellaxTest3 {
            position: absolute;
            top: 0;
            right: -100px;
            content: "";
            background-color: #C25656;
            width: 75px;
            height: 40vh;
            border-radius: 10px;
            transform: translateX(120%) translateY(22%);
            opacity: 0.8;
            -moz-box-shadow: 9px 14px 66px -3px rgba(0,0,0,0.75);
            box-shadow: 9px 14px 66px -3px rgba(0,0,0,0.75);
        }
    }

    &__company {
        background-color: #171724;
        flex-basis: 32%;
        height: 10vh;
        border-radius: 10px;

        &--mb_1 {
            margin-bottom: 20px;
        }
    }

    &__t-block {
        padding: 0 0 0 100px;
    }

    &__team-title {
        font-size: 60px;
        font-family: "Roboto-Bold",sans-serif;
        color: #C25656;
        margin-bottom: 31px;
        text-transform: uppercase;
    }

    &__c-team {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__c-designers {
        flex-basis: 24%;
        padding: 30px 0;
        background-color: #1D1E2E;
        border-radius: 10px;
        position: relative;
        // margin-right: 50px;
    }

    &__designer {
        padding: 15px 20px;
    }

    &__c-developers {
        flex-basis: 72%;
        padding: 30px 0;
        background-color: #1D1E2E;
        border-radius: 10px;
    }

    &__developer {
        flex-basis: 33.33%;
        padding: 15px 20px;
    }

    &__developers-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__img {
        width: 120px;
        height: 120px;
        background-color: #fff;
        border-radius: 50%;
        display: block;
        margin: auto;
    }

    &__designer-name {
        margin-top: 10px;
        font-size: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        text-align: center;
    }

    &__designer-position {
        font-size: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
    }

    &__developer-name {
        margin-top: 10px;
        font-size: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        text-align: center;
    }

    &__developer-position {
        font-size: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
    }

    &__c-managment {
        margin-top: 45px;
        flex-basis: 65%;
        background-color: #1D1E2E;
        border-radius: 10px;
        padding: 40px 20px;
    }

    &__managment-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
    }

    &__info-row_1 {
        position: absolute;
        top: -4vh;
        left: 2.5vw;
        transform: rotate(-90deg) translateX(-205px) translateY(-255px);
    }

    &__info-row_2 {
        position: absolute;
        top: -1vh;
        left: 1.4vw;
        transform: rotate(-90deg) translateX(-50px) translateY(-160px);
    }

    &__managment-text,
    &__designers-text,
    &__amp-text,
    &__developers-text {
        font-family: 'Roboto-Bold';
        font-size: 30px;
    }

    &__amp-text {
        margin: 0 20px;
        color: #C25656;
    }

    &__managment {
        flex-basis: 30%;
    }

    &__managment-name {
        margin-top: 10px;
        font-size: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        text-align: center;
    }

    &__managment-position {
        font-size: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
    }
}