@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../../assets/fonts/MyriadProBold.ttf') format("truetype");
}

@font-face {
  font-family: 'MyriadPro-Reg';
  src: url('../../assets/fonts/MyriadProRegular.ttf') format("truetype");
}

@font-face {
  font-family: 'Gotham-Reg';
  src: url('../../assets/fonts/GothamReg.otf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../../assets/fonts/Roboto-Light.ttf');
}