@font-face{
    font-family: 'MyriadPro-Bold';
    src: url('../../assets/fonts/MyriadProBold.ttf') format("truetype");
}

@font-face{
    font-family: 'MyriadPro-Reg';
    src: url('../../assets/fonts/MyriadProRegular.ttf') format("truetype");
}
