.home-wrap {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #F71033;
  background-image: url('../../assets/images/background.png');
  background-size: cover;
  z-index: 0;

  .home {
    bottom: 8%;
    left: 8%;
    position: absolute;
    color: #fff;
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
    z-index: 100;

    h1 {
      font-size: 62px;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }

    h2 {
      font-family: 'Roboto-Light';
      font-size: 30px;
      letter-spacing: 1px;
    }
  }

  .arr-down {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 2%;
    left: calc(50% - 16px);
    background-image: url('../../assets/images/down-arrow.svg');
    z-index: 3;
  }
}
