@media screen and (min-width: $desktopmin) {
  .description-mobile {
    display: none;
  }
}

@media screen and (min-width: 2000px) {
    .about-wrap__img {
        width: 180px;
        height: 180px;
    }

    .about-wrap__designer-name {
        font-size: 25px;
    }

    .about-wrap__designer-position {
        font-size: 23px;
    }

    .about-wrap__developer-name {
        font-size: 25px;
    }

    .about-wrap__developer-position {
        font-size: 23px;
    }

    .about-wrap__managment-name {
        font-size: 25px;
    }

    .about-wrap__management-position {
        font-size: 23px;
    }

    .about-wrap__feed-title.about-wrap__feed-title--mb_2 {
        font-size: 35px;
    }

    .about-wrap__feed-item.about-wrap__feed-item--mb_2 {
        font-size: 25px;
    }

    .about-wrap__feed-item {
        font-size: 25px;
    }
}

@media screen and (max-width: $desktopmax) {
  .home {
    h1 {
      font-size: 65px!important;
      margin-bottom: 9px;
    }

    h2 {
      font-size: 26px!important;
      letter-spacing: 0;
    }
  }

  .side {
    display: none!important;
  }

  .side-inner-mobile {
    display: flex;
  }

  .projects-wrap {
    height: auto;

    .row-1 {
      flex-wrap: wrap;

      .p1 {
        width: 100%;
        transform: translateX(500%);

        &:hover {
          width: 100%;
        }
      }

      .p2 {
        width: 100%;
        transform: translateX(500%);

        &::after {
          display: none;
        }

        &::before {
          display: none;
        }

        &:hover {
          width: 100%;
        }
      }
    }

    .row-2 {
      flex-wrap: wrap;

      .p3 {
        width: 100% ;
        transform: translateX(500%);

        &::after {
          display: none;
        }

        &:hover {
          width: 100%;
        }
      }

      .p4 {
        width: 100% ;
        transform: translateX(500%);

        &:hover {
          width: 100%;
        }
      }

      .p5 {
        width: 100% ;
        transform: translateX(500%);

        &:hover {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width:$desktopmax) and (min-width: 737px) {
  .about-wrap {
    background-color: #222338;
    padding: 0 35px 30px;

    &__f-block {
        margin-bottom: 20px;
    }

    &__title {
        //border: 1px solid red;
        font-size: 40px;
        line-height: 50px;
        position: relative;

        &::before {
          position: absolute;
          top: -10px;
          right: 0;
          content: "";
          width: 30px;
          height: 200%;
          background-color: #C25656;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px; 
          transform: translateX(140%);
        }

        &::after {
          position: absolute;
          top: -10px;
          right: -25%;
          content: "";
          width: 30px;
          height: 100%;
          background-color: #C8C8C8;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px; 
          transform: translateX(100%);
        }

        .rellaxTest {
            display: none;
        }

        .rellaxTest2 {
            display: none;
        }
    }

    &__c-news-feed {
        display: none;

        &-mobile {
          margin-top: 50px;
          display: block;
          width: 90%;
        }
    }

    &__s-block {
        padding: 0;
        margin-bottom: 20px;
    }

    &__experience-title {
        font-size: 20px;
        line-height: 30px;
    }

    &__experience-subtitle {
        font-size: 15px;
        line-height: 30px;
    }

    &__c-companies {
        padding: 55px 45px;

        &::after {
             display: none;
        }
    }

    &__company {
        flex-basis: 48%;

        &--mb_1 {
            margin-bottom: 0;

            &-mobile {
              margin-bottom: 30px;
            }
        }
    }

    &__t-block {
        padding: 0;
    }

    &__team-title {
        font-size: 20px;
        margin-bottom: 40px;
    }

    &__c-designers {
        flex-basis: 24%;
        padding: 30px 0;
        background-color: #1D1E2E;
        border-radius: 10px;
        position: relative;

        &::before {
            position: absolute;
            top: 0;
            left: 50%;
            content: "Designers";
            font-family: "Roboto",sans-serif;
            font-size: 20px;
            font-weight: medium;
            transform: translateY(-140%) translateX(-50%);
        }
    }

    &__c-developers {
        position: relative;

        &::before {
            position: absolute;
            top: 0;
            left: 50%;
            content: "Developers";
            font-family: "Roboto",sans-serif;
            font-size: 20px;
            font-weight: medium;
            transform: translateY(-140%) translateX(-50%);
        }
    }

    &__designer-name {
        font-size: 12px;
    }

    &__designer-position {
        font-size: 12px;
    }

    &__developer-name {
        font-size: 12px;
    }

    &__developer-position {
        font-size: 12px;
    }

    &__c-managment {
        flex-basis: 65%;
        position: relative;

        &::before {
            position: absolute;
            top: 50%;
            left: 100%;
            content: "Managment";
            font-family: "Roboto",sans-serif;
            font-size: 20px;
            font-weight: medium;
            transform: translateY(-50%) translateX(80%);
        }
    }

    &__managment-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
    }

    &__info-row_2 {
        display: none;
    }

    &__managment-text,
    &__designers-text,
    &__amp-text,
    &__developers-text {
        font-family: "Roboto",sans-serif;
        font-size: 40px;
        font-weight: medium;
    }

    &__amp-text {
        margin: 0 20px;
        color: #C25656;
    }

    &__info-row_1 {
        display: none;
    }

    &__managment {
        flex-basis: 30%;
    }

    &__managment-name {
        font-size: 12px;
    }

    &__managment-position {
        font-size: 12px;
    }
  }

  .rellaxTest3 {
    display: none;
  }

  .description-mobile {
    display: none;
  }
}

@media (max-width: 736px) {
  .about-wrap {
    background-color: #222338;
    padding: 0 35px 30px;

    &__f-block {
        margin-bottom: 20px;
    }

    &__title {
        font-size: 40px;
        line-height: 50px;
        position: relative;

        &::before {
          display: none;
        }

        &::after {
          display: none;
        }

        .rellaxTest {
            display: none;
        }

        .rellaxTest2 {
            display: none;
        }
    }

    &__c-news-feed {
        display: none;

        &-mobile {
          margin-top: 50px;
          display: block;
          width: 100%;
        }

        &:after {
          display: none;
        }
    }

    &__feed-title {
      font-size: 20px;
    }

    &__feed-item {
      font-size: 16px;
    }

    &__s-block {
        padding: 0;
        margin-bottom: 20px;
    }

    &__experience-title {
        font-size: 20px;
        line-height: 30px;
    }

    &__experience-subtitle {
        font-size: 15px;
        line-height: 30px;
    }

    &__c-companies {
        padding: 25px 15px;

        &::after {
             display: none;
        }
    }

    &__company {
        flex-basis: 48%;

        &--mb_1 {
            margin-bottom: 0;

            &-mobile {
              margin-bottom: 30px;
            }
        }
    }

    &__t-block {
        padding: 0;
    }

    &__team-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__c-designers {
        flex-basis: 100%;
        padding: 30px 0;
        background-color: #1D1E2E;
        border-radius: 10px;
        position: relative;
        margin: 50px 0;

        &::before {
            display: none;
        }
    }

    &__c-developers {
        flex-basis: 100%;
        position: relative;
        margin: 50px 0;

        &::before {
            display: none;
        }
    }

    &__developer {
      margin: auto;
    }

    &__designer-name {
        font-size: 12px;
    }

    &__designer-position {
        font-size: 12px;
    }

    &__developer-name {
        font-size: 12px;
    }

    &__developer-position {
        font-size: 12px;
    }

    &__c-managment {
        flex-basis: 100%;
        position: relative;
        margin-top: 50px;

        &::before {
            display: none;
        }
    }

    &__managment {
      margin: auto;
      margin-bottom: 30px;
    }

    &__managment-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
    }

    &__info-row_2 {
        display: none;
    }

    &__managment-text,
    &__designers-text,
    &__amp-text,
    &__developers-text {
        font-family: "Roboto",sans-serif;
        font-size: 40px;
        font-weight: medium;
    }

    &__amp-text {
        margin: 0 20px;
        color: #C25656;
    }

    &__info-row_1 {
        display: none;
    }

    &__managment {
        flex-basis: 30%;
    }

    &__managment-name {
        font-size: 12px;
    }

    &__managment-position {
        font-size: 12px;
    }
  }

  .rellaxTest3 {
    display: none;
  }

  .description-mobile {
    width: 100%;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 15px;
  }

  .home {
    h1 {
      font-size: 35px!important;
      margin-bottom: 9px;
    }

    h2 {
      font-size: 16px!important;
      letter-spacing: 0;
    }
  }  
}


@media (min-width: $desktopmin) {
  .side-inner-mobile {
    display: none;
  }

  .about-wrap__c-news-feed.about-wrap__c-news-feed-mobile {
    display: none;
  }
}
