.preloader{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: $bgColorPreloader;
}
  
.preloader-logo{
    position: relative;
    width: 100%;
    height: 100%;
    svg{
      width: 100%;
      height: 100%;
      position: absolute;
      top: -2px;
      left: -11px;
    }
}
  
.preloader-done{
    transform: translateY(-100%);
    transition-duration: .5s;
}