.price-wrap {
    height: 100vh;
    background-color: $primaryColor;
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 20vw;

    .col-1 {
        width: 55vw;
        // height: 50vh;
        padding-left: 150px;
        padding-right: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .col-2 {
        width: 45vw;
        // height: 50vh;
        padding-left: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .service {
        background-color: #A7454F;
        padding-top: 3vh;
        padding-bottom: 3vh;
        padding-right: 3vw;
        padding-left: 3vw;
        border-radius: 0.7vw;

        h4 {
            font-family: 'Roboto-Bold';
            font-size: 2vw;
            color: #ffffff;
            margin-bottom: 1vh;
        }

        p {
            color: #ffffff;
            font-size: 1vw;
            font-family: 'Roboto-Light';
            margin-bottom: 1vh;
        }

        .list-wrap {
            padding-top: 1vh;
            padding-bottom: 1vh;

            .list-item {
                margin-bottom: 1vh;
                height: 7.5vh;
                background-color: #9B3E47;
                border-radius: 0.7vw;
            }
        }
    }

    .s2 {
        box-sizing: border-box;
        // height: 46%;
        margin-bottom: 2vh;
    }

    .s3 {
        box-sizing: border-box;
        // height: 46%;
        margin-top: 2vh;
    }
}