.projects-wrap {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #222338;
  justify-content: center;
  align-items: center;

  .row-1 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .project {
      position: relative;
      transition: .4s;
      margin: 20px;
      background-color: #C25656;
      cursor: pointer;

      &:hover {
        -webkit-box-shadow: 6px 4px 56px 6px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 4px 56px 6px rgba(0,0,0,0.75);
        box-shadow: 6px 4px 56px 6px rgba(0,0,0,0.75);
      }

      .content {
        overflow: hidden;
        background-color: rgba(194, 86, 86, .8);
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all .5s;

        &:hover {
          background-color: transparent;

          .content-text {
            visibility: visible;
            transform: translateY(0%);
          }
        }

        .content-text {
          position: absolute;
          transform: translateY(200%);
          transition-duration: .3s;
          bottom: 5%;
          left: 5%;
          width: 90%;
          height: 30%;
          background-color: #fff;
        }
      }
    }

    .p1 {
      width: 35%;
      height: 35vh;
      transition-timing-function: ease-in-out;
      transition-duration: 1.2s;
      transition-delay: 0;
      transform: translateX(-1000%);
      background-image: url(../../assets/images/p1.jpg);
      background-position: center center;
      background-size: cover;
    }

    .p2 {
      position: relative;
      width: 20%;
      height: 25vh;
      transition-timing-function: ease-in-out;
      transition-duration: 1.2s;
      transition-delay: 0.1s;
      transform: translateY(-1000%);
      background-image: url(../../assets/images/p2.jpg);
      background-position: center center;
      background-size: cover;

      &::after {
        content: '';
        position: absolute;
        background-color: rgba(255,255,255,.1);
        width: 100%;
        height: 50px;
        top: -8vh;
      }

      &::before {
        content: '';
        position: absolute;
        background-color: rgba(255,255,255,.1);
        width: 50px;
        height: 100%;
        right: -8vh;
      }
    }
  }

  .row-2 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .project {
      transition: .4s;
      margin: 20px;
      background-color: #C25656;
      position: relative;
      cursor: pointer;

      &:hover {
        -webkit-box-shadow: 6px 4px 56px 6px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 4px 56px 6px rgba(0,0,0,0.75);
        box-shadow: 6px 4px 56px 6px rgba(0,0,0,0.75);
      }

      .content {
        background-color: rgba(194, 86, 86, .8);
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all .5s;

        &:hover {
          background-color: transparent;

          .content-text {
            visibility: visible;
            transform: translateY(0%);
          }
        }

        .content-text {
          position: absolute;
          transform: translateY(200%);
          transition-duration: .3s;
          bottom: 5%;
          left: 5%;
          width: 90%;
          height: 30%;
          background-color: #fff;
        }
      }
    }

    .p3 {
      position: relative;
      width: 15%;
      height: 30vh;
      transition-timing-function: ease-in-out;
      transition-duration: 1.2s;
      transition-delay: 0.2s;
      transform: translateX(-1000%);
      background-image: url(../../assets/images/p3.jpg);
      background-position: center center;
      background-size: cover;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 50px;
        background-color: rgba(255,255,255,.1);
        bottom: -8vh;
        left: 0;
      }
    }

    .p4 {
      width: 30%;
      height: 45vh;
      transition-timing-function: ease-in-out;
      transition-duration: 1.2s;
      transition-delay: 0.3s;
      transform: translateY(-1000%);
      background-image: url(../../assets/images/p4.jpg);
      background-position: center center;
      background-size: cover;
    }

    .p5 {
      width: 15%;
      height: 40vh;
      transition-timing-function: ease-in-out;
      transition-duration: 1.2s;
      transition-delay: 0.4s;
      transform: translateX(1000%);
      background-image: url(../../assets/images/p5.jpg);
      background-position: center center;
      background-size: cover;
    }
  }
}
