.projects-wrap {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #222338;
  justify-content: center;
  align-items: center;

  .row-1 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .project {
      position: relative;
      transition: .4s;
      margin: 10px;
      background-color: #C25656;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        -webkit-box-shadow: 6px 4px 56px 6px rgba(21, 21, 32, 0.75);
        -moz-box-shadow: 6px 4px 56px 6px rgba(21, 21, 32, 0.75);
        box-shadow: 6px 4px 56px 6px rgba(21, 21, 32, 0.75);
      }

      .content {
        overflow: hidden;
        background-color: rgba(194, 86, 86, .8);
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all .5s;
        border-radius: 10px;

        &:hover {
          background-color: transparent;

          .content-text {
            visibility: visible;
            transform: translateY(0%);
          }
        }

        .content-text {
          position: absolute;
          transform: translateY(200%);
          transition-duration: .3s;
          bottom: 10%;
          left: 5%;
          width: 90%;
          height: 30%;
          background-color: #fff;
          border-radius: 10px;
        }
      }
    }

    .p1 {
      will-change: transform;
      width: 35%;
      height: 35vh;
      transition-timing-function: ease-in-out;
      transition-duration: 1s;
      transition-delay: 0;
      transition-property: all;
      transform: translateX(-100vw);

      &:hover {
        width: 36%;
        height: 36vh;
        transform: scale(1.02) !important;
      }
    }

    .p2 {
      will-change: transform;
      position: relative;
      width: 20%;
      height: 25vh;
      transition-timing-function: ease-in-out;
      transition-duration: 1s;
      transition-delay: 0.1s;
      transition-property: all;
      transform: translateY(-100vh);

      &::after {
        content: '';
        position: absolute;
        background-color: #ACACAE;
        width: 100%;
        height: 46px;
        top: -77px;
        pointer-events: none;
        border-radius: 10px;
      }

      &:hover {
        width: 21%;
        height: 26vh;
        transform: scale(1.02) !important;
      }
    }
  }

  .row-2 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .project {
      transition: .4s;
      margin: 12px;
      background-color: #C25656;
      position: relative;
      cursor: pointer;
      border-radius: 10px;

      &:hover {
        -webkit-box-shadow: 6px 4px 56px 6px rgba(21, 21, 32, 0.75);
        -moz-box-shadow: 6px 4px 56px 6px rgba(21, 21, 32, 0.75);
        box-shadow: 4px 2px 20px 6px rgba(21, 21, 32, 0.75);
      }

      .content {
        background-color: rgba(194, 86, 86, .8);
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all .5s;
        border-radius: 10px;

        &:hover {
          background-color: transparent;

          .content-text {
            visibility: visible;
            transform: translateY(0%);
          }
        }

        .content-text {
          position: absolute;
          transform: translateY(200%);
          transition-duration: .3s;
          bottom: 7%;
          left: 5%;
          width: 90%;
          height: 30%;
          background-color: #fff;
          border-radius: 10px;
        }
      }
    }

    .p3 {
      will-change: transform;
      position: relative;
      width: 15%;
      height: 30vh;
      transition-timing-function: ease-in-out;
      transition-duration: 1s;
      transition-delay: 0.2s;
      transition-property: all;
      transform: translateX(-100vw);

      &::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 48px;
        background-color: #ACACAE;
        bottom: -79px;
        right: 0;
        pointer-events: none;
        border-radius: 10px;
      }

      &:hover {
        width: 16%;
        height: 31vh;
        transform: scale(1.02) !important;
      }
    }

    .p4 {
      will-change: transform;
      width: 30%;
      height: 45vh;
      transition-timing-function: ease-in-out;
      transition-duration: 1s;
      transition-delay: 0.3s;
      transition-property: all;
      transform: translateY(100vh);

      &:hover {
        width: 31%;
        height: 46vh;
        transform: scale(1.02) !important;
      }
    }

    .p5 {
      will-change: transform;
      width: 15%;
      height: 40vh;
      transition-timing-function: ease-in-out;
      transition-duration: 1s;
      transition-delay: 0.4s;
      transition-property: all;
      transform: translateX(100vw);

      &:hover {
        width: 16%;
        height: 41vh;
        transform: scale(1.02) !important;
      }
    }
  }
}
