@import '~reset-css/reset.css';
@import 'variables';
@import 'fonts';
@import './components/preloader';
@import 'home';
@import './components/side';
@import './components/sideMobile';
@import 'projects';
@import 'about';
@import 'media';