doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name="thrmr-color" content="#F71033")
    title Home
  body
    div.preloader
      div.preloader-logo
        include ../assets/images/logoAnimated.svg
    nav.side
      div.side-inner
        span.line
        span.dott
        div.section-detail
          h3 Section description
        .point-wrap(id = "first")
          a.point
        .point-wrap
          a.point
        .point-wrap
          a.point
        .point-wrap
          a.point
        .point-wrap
          a.point
      div.languages
        a RU
        a EN
    nav.side-inner-mobile#mobile-nav
      a.side-inner-mobile__dot-mobile.side-inner-mobile__dot-mobile--active#active-dot(data-screen="1")
      a.side-inner-mobile__dot-mobile(data-screen="2")
      a.side-inner-mobile__dot-mobile(data-screen="3")
      a.side-inner-mobile__dot-mobile(data-screen="4")
      a.side-inner-mobile__dot-mobile(data-screen="5")
    div.home-wrap
      div.home
        h1 Uniq
        h2
          | Web studio &
          br
          | outsorcing company
    div.projects-wrap
      div.row-1
        div.project.p1
          div.content
            div.content-text
        div.project.p2
          div.content
            div.content-text
      div.row-2
        div.project.p3
          div.content
            div.content-text
        div.project.p4
          div.content
            div.content-text
        div.project.p5
          div.content
            div.content-text
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
