doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
  body
    div(class="preloader")
      div(class="preloader-logo")
        include ../assets/images/logoAnimated.svg
    header.header
      a.header__logo(href='#')
        include ../assets/images/logo.svg
      nav.header__navigation
        ul.header__menu
          li.header__item
            a.header__link(href='#')
              span(data-hover="Works")
                | Works
          li.header__item
            a.header__link(href='#')
              span(data-hover="About Us")
                | About Us
          li.header__item
            a.header__link(href='#')
              span(data-hover="Pricing")
                | Pricing
          li.header__item
            a.header__link(href='#')
              span(data-hover="Partners")
                | Partners
          li.header__item
            a.header__link(href='#')
              span(data-hover="Contacts")
                | Contacts