doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Home
  body
    div.preloader
      div.preloader-logo
        include ../assets/images/logoAnimated.svg
    nav.side
      div.side-inner
        span.line
        a.point
        a.point
        a.point
        a.point
        a.point
      div.languages
        a RU
        a EN
    div.home-wrap
      div.home
        h1 Uniq
        h2
          | Web studio &
          br
          | outsorcing company
    div.projects-wrap
      div.row-1
        div.project.p1
        div.project.p2
      div.row-2
        div.project.p3
        div.project.p4
        div.project.p5
