doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Home
  body
    div.preloader
      div.preloader-logo
        include ../assets/images/logoAnimated.svg
    div.home
      h1 Uniq
      h2
        | Web studio &
        br
        | outsorciing company
    nav.side
      div.side-inner
        span.line
        a.point
        a.point
        a.point
        a.point
        a.point
      div.languages
        a RU
        a EN
