.side {
  position: fixed;
  box-sizing: border-box;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 4.5vw;
  background-color: rgb(29, 31, 45);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-inner {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;

    .dott {
      box-sizing: border-box;
      display: block;
      position: absolute;
      top: 15px;
      width: 1vh;
      height: 1vh;
      z-index: 5;
      background-color: #fff;
      transition-delay: .2s;
      transition-duration: .7s;
      transition-timing-function: ease;
      transform: translateY(0px) rotate(-45deg);
      will-change: transform;
      cursor: pointer;
    }

    .section-detail {
      z-index: -1;
      position: absolute;
      top: -115px;
      left: -135px;
      width: 228px;
      height: 300px;
      transform: translateY(0px);
      color: #fff;
      font-family: 'MyriadPro-Reg';
      // background-color: $primaryColor;
      transition-duration: .7s;
      transition-timing-function: ease;
      will-change: transform;
      background-image: url('../../assets/images/arrow.svg');
      background-size: 60%;
      background-position: 0 0;
      background-repeat: no-repeat;

      h3 {
        position: absolute;
        left: 60px;
        top: 138px;
        font-size: 17px;
        font-family: 'Roboto-Bold';
      }
    }

    .line {
      position: absolute;
      width: 1px;
      height: 90%;
      background-color: #C25656;
      // display: none;
    }

    .point-wrap {
      box-sizing: border-box;
      margin-top: 33%;
      margin-bottom: 33%;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .point {
        cursor: pointer;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.1vw;
        height: 1.1vw;
        transform: rotate(45deg);
        border: 2px solid #fff;
        background-color: $primaryColor;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    #first {
      margin-top: 0;
    }

  }

  .languages {
    left: 40%;
    bottom: 5%;
    position: absolute;
    width: 100%;

    a {
      overflow: hidden;
      font-size: 0.7vw;
      line-height: 2vw;
      font-family: 'MyriadPro-Bold';
      cursor: pointer;
      display: block;
      color: #fff;

      &:first-of-type {
        position: relative;

        &:hover {
          &:after {
            transform: translateX(0%);
          }
        }

        &:after {
          transition: .3s;
          top: 5px;
          left: 0;
          position: absolute;
          width: 10%;
          height: 0.2vh;
          background-color: #C25656;
          content: '';
          transform: translateX(-100%);
        }
      }

      &:last-of-type {
        position: relative;

        &:hover {
          &:after {
            transform: translateX(0%);
          }
        }

        &:after {
          transition: .3s;
          top: 5px;
          left: 0;
          position: absolute;
          width: 10%;
          height: 0.2vh;
          background-color: #C25656;
          content: '';
          transform: translateX(-100%);
        }
      }
    }
  }
}
